body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}
