<h2>Create a new post</h2>

<form action="/post-create" method="POST">
    <label for="title-input"> Title </label>
    <input type="text" name="title" id="title-input">
    <br>

    <label for="content-input"> Content </label>
    <textarea type="text" name="content" id="content-input"> </textarea>
    <br>

    <label for="author-select"> Created by </label>
    <select name="author" id="author-select">
        <option disable selected value=""></option>
        {{#each dbUsers}}
        <option value="{{this._id}}"> {{this.username}} </option>
        {{/each}}
    </select>
    <br>

    <button type="submit"> Create the post </button>
</form>