<h2>Registration</h2>

<form action="/user-create" method="POST">
    <label for="username-input"> Username </label>
    <input type="text" name="username" id="username-input">
    <br>

    <button type="submit"> Register </button>
</form>

<div>
    {{#if message}}
    <p><b>{{message}}</b></p>
    {{/if}}
</div>