body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.movies-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  width: 30%;
  margin: 15px;
}

.movie-item img {
  width: 50%;
}
