<div class="description">
    <span><u>{{this.Title}}</u> </span>
    <br />
    <a href="/movie/{{this.imdbID}}"><img src="{{this.Poster}}" alt="movie" width="100px" height="100px" /></a>
    <br />
    <span>Released in {{this.Year}}</span>
</div>