nav {
    background: #543c52;
}
footer {
    width: 100%;
    height: 2.5rem;
    background: #edd2cb;
    text-align: center;
    position: absolute;
    bottom: 0;
}
li{
   list-style-type: none;
   margin-top: 5px;
}
.search-container, .results-container, .movie-container {
    text-align: center;
}

.movie-list{
    display: flex;
    flex-flow: row wrap;
}