<h2>Create a book</h2>

<form action="/books/create" method="POST">

    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input" />

    <label for="author-input">Author:</label>
    <input type="text" name="author" id="author-input" />

    <label for="description-input">Description:</label>
    <textarea name="description" id="description-input" cols="30" rows="4"> </textarea>

    <label for="rate-input">Rate:</label>
    <input type="number" name="rating" id="rate-input" min="1" max="10" />

    <button type="submit">Create</button>

</form>