<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static File</title>

    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body class="site">
    <header>
      <nav class="nav_container">
        <a class="nav_links" href="/">Home</a>
        <a class="nav_links" href="/contact">Contact</a>
      </nav>
    </header>
    <main class="site_content">
      <section class="contact_container">
        <h1>Get In Touch!</h1>

        <form action="/contact" method="POST" class="contact_form">
          <input
            type="text"
            name="userName"
            id="name"
            placeholder="Enter your name..."
          />
          <button type="submit">Submit</button>
        </form>
      </section>
    </main>
    <footer>
      <p>Made with <span role="image" aria-label="hamburger">❤️</span></p>
    </footer>
  </body>
</html>
