{{!-- <h1>{{firstName}} {{lastName}}</h1> --}}

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://fadeawayworld.net/.image/t_share/MTgwMTMyNzcxNDc4NjQ0MDU2/how-the-nba-changed-in-4-years-the-superstars-and-top-players-have-shifted-teams-and-power.jpg"
                    alt="NBA players">
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                    <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
                    <a href="/players" class="btn btn-primary">See Players</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_OERZ8iocfWup4uRUhjxY_zncbKN02QawHJMqp9qa2RjC6PaI"
                    alt="NBA teams">
                <div class="card-body">
                    <h5 class="card-title">Teams</h5>
                    <p class="card-text">Here we can check all NBA Teams</p>
                    <a href="/teams" class="btn btn-primary">See Teams</a>
                </div>
            </div>
        </div>
    </div>
</div>