<div class="search-container">
    <h1><u>Search Page</u></h1>
    <br/>
    <form action="/searchResults" method="GET">
        <input type="search" name="movieName">
        <button type="submit">Search</button>
    </form>
</div>